@mixin bg-gradient($color: $gold) {

    $dark: darken($color, 8);
    $light: lighten($color, 1);

    .bg_color {
        @include gradient($color, $dark, $light);
    }

    border-bottom-color: $dark;
}

section#content.blog,
section#content section.related_posts {

    section.title {
        height: 100%;
        padding-top: 45px;

        article.title {
            border-bottom: 5px solid $gold;

            &.video_banner {
                overflow: hidden;
                height: auto;

                .bg_color {
                    display: none;
                }
            }

            &.story {

                &.image {
                    .dark {
                        display: block;
                    }
                }

                .image,
                .bg_blur,
                .dark {
                    display: none;
                }

                &.color-1 {
                    @include bg-gradient(#9687BE);
                }

                &.color-2 {
                    @include bg-gradient(#B9817F);
                }

                &.color-3 {
                    @include bg-gradient(#D3B963);
                }

                &.color-4 {
                    @include bg-gradient(#C48C53);
                }

                &.color-5 {
                    @include bg-gradient(#7AA16F);
                }

                &.color-6 {
                    @include bg-gradient(#6F9FA1);
                }

            }

            &.facebook {
                overflow: hidden;
                height: auto;

                .dark,
                .bg_color,
                .bg {
                    display: none;
                }
            }

            &.post {
                .bg_blur,
                .bg_color {
                    display: none;
                }
            }
        }

        & > article {
            text-align: center;
            min-height: 250px;
            position: relative;
            height: 45vh;
            top: 0;

            div.dark {
                z-index: 11;
            }

            div.bg_color {
                width: 100%;
                height: 100%;
                z-index: 10;
                position: absolute;
            }

            div.text {
                position: absolute;
                width: 100%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 20;

                h1 {
                    color: $white;
                    font-family: $avenir-blk;
                    font-size: 2.3em;
                    letter-spacing: 0.3em;
                    text-align: center;
                    max-width: 750px;
                    width: 90%;
                    margin: 0 auto;
                    line-height: 1.4em;
                    text-transform: uppercase;

                    a {
                        color: $white;
                        text-decoration: none;
                    }

                }

                h2 {
                    color: $white;
                    font-family: $dido-i;
                    font-size: 1.3em;
                    letter-spacing: 0.05em;
                    text-align: center;
                    max-width: 600px;
                    margin: 20px auto 3px;
                    line-height: 2.6em;
                }

                a.button {
                    border: 1.5px solid $white;
                    color: $gold-light;
                    font-family: $avenir-blk;
                    letter-spacing: 0.4em;
                    line-height: 1.4em;
                    padding: 8px 25px 6px;
                    transition: all 150ms ease;
                    margin: 30px 0 0;

                    &:hover {
                        background-color: $white;
                        color: $gold;
                    }
                }
            }

            .video_box {
                max-width: 960px;
                width: 100%;
                margin: 0 auto;
                z-index: 100;
                text-align: center;
                position: relative;
                background-color: $black;
            }

            .image {
                max-width: 960px;
                position: relative;
                text-align: center;
                z-index: 100;
                margin: 0 auto;

                figure {
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                    height: 0;
                    padding-bottom: 56.2%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $black;
                }
            }

            .bg_blur {
                background-position: center 25%;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $black;
                filter: brightness(50%) saturate(1.1) contrast(105%) blur(20px);
                -webkit-filter: brightness(50%) saturate(1.1) contrast(105%) blur(20px);
                width: 120%;
                height: 120%;
                position: absolute;
                top: -10%;
                left: -10%;
                z-index: 10;
            }

            .bg {
                background-position: center 25%;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }

            a.logo {
                width: 165px;
                height: 100px;
                margin: 5vh auto 0;
                display: block;
                background-image: url('images/logo_esbs_white.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 100;
                position: relative;
            }
        }

    }

    .platter {
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;

        header {
            margin: 50px 0 60px;
            display: table;
            width: 100%;

            .box {
                margin: 0 10px;
            }

            div#categories {
                height: 30px;
                display: inline-block;
                width: 33.333%;
                float: left;
                padding-top: 10px;

                span {
                    display: inline-block;
                    font-family: $avenir-med;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    padding-top: 5px;

                    &#current_act {
                        padding-left: 6px;
                        font-family: $avenir-blk;
                        color: $gold;
                        cursor: pointer;
                        transition: all 100ms ease;

                        &:hover {
                            color: $gold_dark;
                        }
                    }
                }

                select {
                    display: none;

                    &.show {
                        display: inline-block;
                    }
                }
            }

            div.search {
                display: inline-block;
                width: 33.333%;
                float: left;

                div.outliner {

                    margin: 0 10%;
                    background-image: url('images/right.png');
                    background-position: right;
                    background-size: 50%;
                    background-repeat: no-repeat;

                }

                div.box {
                    width: 100%;
                    cursor: text;
                    height: 38px;
                    display: table;
                    border: 2px solid $gold;
                    margin: 0;

                    div.icon {
                        width: 20%;
                        height: 100%;
                        float: left;
                        display: inline-block;
                        background-image: url('images/search.png');
                        background-position: center;
                        background-size: contain;
                    }

                    input {
                        height: 100%;
                        width: 80%;
                        float: left;
                        display: inline-block;
                        border: none;
                        outline: none;
                        font-family: $avenir-med;
                        color: $black;
                        text-transform: uppercase;
                        line-height: 28px;
                        padding-top: 2px;
                    }
                }
            }

        }

        .list {
            display: flex;
            width: 100%;
            text-align: center;
            flex-wrap: wrap;

            &.nb_1,
            &.nb_2 {
                display: block;

                article.post {
                    float: inherit;
                    margin: 0 auto;
                    display: inline-block;
                }
            }

            article.post {
                display: inline-block;
                width: 33.333%;
                vertical-align: top;
                float: left;
                text-align: center;
                margin-bottom: 70px;
                position: relative;

                &.color-1 {
                    @include bg-gradient(#9687BE);
                }

                &.color-2 {
                    @include bg-gradient(#B9817F);
                }

                &.color-3 {
                    @include bg-gradient(#D3B963);
                }

                &.color-4 {
                    @include bg-gradient(#C48C53);
                }

                &.color-5 {
                    @include bg-gradient(#7AA16F);
                }

                &.color-6 {
                    @include bg-gradient(#6F9FA1);
                }

                div.box {
                    margin: 0 10px 55px;
                    height: 100%;
                }

                a.image {
                    display: block;
                    transition: all 100ms ease;
                    height: 0;
                    padding-bottom: 56.2%;
                    position: relative;

                    figure {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    div.bg_color {
                        width: 100%;
                        height: 100%;
                        background-color: red;
                        display: block;
                        position: absolute;

                    }

                    figure,
                    div.bg_color {
                        h2 {
                            color: $white;
                            position: absolute;
                            width: 84%;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            margin: 0 8%;
                            padding: 0;
                            font-size: 1.2em;
                            letter-spacing: 0.05em;
                            line-height: 1.3em;
                        }
                    }

                    &:hover {
                        opacity: 0.95;
                    }
                }

                ul {
                    display: block;

                    li {
                        list-style: none;
                        margin-top: 17px;
                        display: inline-block;
                        padding-left: 5px;

                        &:first-of-type {
                            padding-left: 0;

                        }

                        a {
                            font-family: $dido-i;
                            color: $black;
                            text-decoration: none;
                            transition: all 100ms ease;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                h2 {
                    font-family: $avenir-blk;
                    text-transform: uppercase;
                    margin-top: 13px;
                    margin-bottom: 5px;
                    padding: 0 10px;

                    a {
                        color: $black;
                        text-decoration: none;
                        line-height: 1.4em;
                        letter-spacing: 0.07em;
                        font-size: 1.15em;
                        transition: all 200ms ease;

                        &:hover {
                            color: $gold;
                        }
                    }
                }

                p {

                    &::before {
                        height: 0.5px;
                        width: 40px;
                        content: " ";
                        margin: 10px auto 30px;
                        display: block;
                        background-color: lighten($gray, 40);
                    }

                    padding: 0 10px;
                    font-size: 0.9em;
                    line-height: 1.8em;
                    letter-spacing: 0.15em;
                }

                div.button {
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    a.button {
                        color: $gold;
                        font-family: $avenir-blk;
                        letter-spacing: 0.3em;
                        font-size: 0.8em;
                        line-height: 2em;
                        padding: 4px 0 0 0;
                        width: 40%;
                        border-width: 1.5px;
                        transition: all 200ms ease;
                        margin: 0;

                        &:hover {
                            background-color: $gold;
                            color: $white;

                        }
                    }
                }
            }
        }

        & > article {
            width: 100%;
            max-width: 650px;
            margin: 0 auto;

            header {
                margin: 50px 0 30px;

                time {
                    display: block;
                    color: $gold_dark;
                    font-family: $avenir-blk;
                    font-size: 0.8em;
                    line-height: 1.2em;
                    letter-spacing: 0.25em;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }

                span.author {
                    display: block;
                    font-family: $avenir-i;
                    padding-top: 5px;
                    letter-spacing: 0.05em;
                }

                h1 {
                    text-align: left;
                    letter-spacing: 0.2em;
                    margin: 10px 0 10px;
                    font-family: $avenir-blk;
                    font-size: 1.2em;
                    line-height: 1.5em;
                    text-transform: uppercase;

                }
            }

            p {
                font-family: $avenir;
                font-size: 1.1em;
                line-height: 1.35em;
                padding: 10px 0 10px 0;

                em {
                    font-family: $avenir-i;
                }
            }

            .entry-content {
                margin-bottom: 50px;
            }

            a {
                color: $gold;
                text-decoration: none;
                transition: all 200ms ease;

                &:hover {
                    text-decoration: underline;
                }
            }

            strong {
                font-family: $avenir-blk;
            }

            em {
                font-family: $avenir-i;
            }

            ul,
            ol {
                margin: 10px 0 10px 20px;

                li {
                    font-size: 1.1em;
                    line-height: 1.5em;
                    padding: 10px 0 10px 0;
                    font-family: $avenir;
                    letter-spacing: 0.05em;
                    color: $black;

                    ul, ol {
                        padding-left: 20px;

                        li {
                            padding: 2px 0 4px 0;
                        }
                    }
                }
            }

            blockquote {

                p {
                    font-size: 1.3em;
                    line-height: 1.6em;

                }
            }

            &.none {

                width: 100%;
                margin: 120px auto 90px;

                h1 {
                    text-align: center;
                    font-family: $dido-i;
                    text-transform: uppercase;
                    font-size: 1.6em;
                    letter-spacing: 0.15em;
                    color: lighten($gray, 20);
                }

                a {

                }

            }
        }

    }

    .nav_bottom,
    .nav_top {
        margin: 10px auto 40px;
        display: table;
        width: 100%;

        a {
            font-family: $avenir-blk;
            color: $gold;
            text-transform: uppercase;
            letter-spacing: 0.35em;
            font-size: 0.9em;
            text-decoration: none;
            background-repeat: no-repeat;
            display: inline-block;
            background-size: contain;
            padding-top: 4px;
            transition: all 100ms ease;

            &:hover {
                color: $gold_dark;
            }
        }

        .alignleft {
            float: left;

            a {
                background-image: url('images/left.png');
                background-position: center left;
                padding-left: 50px;
                line-height: 30px;
            }
        }

        .alignright {
            float: right;

            a {
                background-image: url('images/right.png');
                background-position: center right;
                padding-right: 50px;
                line-height: 30px;
            }
        }
    }

    @media only screen and (max-width: 1064px) {

        .platter {
            padding: 2%;
            width: 96%;
        }
    }

    @media only screen and (max-width: 768px) {

        .platter {
            padding: 4%;
            width: 92%;

            header div#categories,
            header div.search {
                width: 50%;
            }

            .list {

                article.post {
                    width: 50%;
                }
            }

        }
    }

    @media only screen and (max-width: 414px) {

        section.title {

            &#slider {
                & > article {
                    height: 55vh;
                }
            }

            & > article {
                height: 40vh;

                &.video_banner,
                &.facebook {
                    height: auto;
                    min-height: initial;

                    .bg {
                        display: none;
                    }
                }

                div.text {
                    width: 94%;
                    margin: 0 3%;

                    h1 {
                        font-size: 1.5em;
                    }
                }
            }
        }

        .platter {
            padding: 3%;
            width: 94%;

            header {
                display: block;
                margin-bottom: 30px;

                div#categories,
                div.search {
                    width: 100%;
                    float: none;
                }

                div#categories {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            .list {

                article.post {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 360px) {
        article.title,
        section.title article {

            div.text {

                h1 {
                    font-size: 1.3em;
                }
            }
        }
    }

}

section#content section.related_posts {
    background-color: lighten($gray, 72.5);
    padding: 20px 0;

    h1 {
        font-family: $avenir-med;
        font-size: 1.3em;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
        letter-spacing: 0.05em;
    }

    .platter {

        .list {
            margin: 30px 0;

            article.post {
                margin-bottom: 0;

                a.image {
                    display: block;
                    transition: all 100ms ease;
                    height: 0;
                    padding-bottom: 56.2%;
                    position: relative;

                    figure {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    div.button {
                        position: absolute;
                        top: 50%;
                        line-height: 40px;
                        display: block;
                        margin: -20px auto 0;
                        font-family: $avenir-blk;
                        text-transform: uppercase;
                        letter-spacing: 0.3em;
                        font-size: 1em;
                        width: 70%;
                        left: 15%;
                        bottom: inherit;
                        background-color: $gold;
                        color: $white;
                        opacity: 0;

                        transition: opacity 300ms ease;
                    }

                    &:hover {

                        div.button {
                            opacity: 1;
                        }
                    }

                }

                div.box {
                    height: auto;
                    margin-bottom: 30px;

                    & > h2 {
                        &::after {
                            height: 1px;
                            width: 80px;
                            content: " ";
                            margin: 15px auto 0;
                            display: block;
                            background-color: lighten($black, 39.1);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1064px) {

        .platter {
            padding: 2%;
            width: 96%;
        }
    }
}