#content {
    margin: 0;
    min-height: 300px;
    background-color: $white;

    &.hide {
        display: none !important;
    }

    div.platter {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 20px;
        position: relative;

        article.content-page {

            min-height: 350px;
            padding: 40px 4%;
            max-width: 960px;
            margin: 0 auto;

            h1 {
                font-size: 1.6em;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                line-height: 2em;
                padding-bottom: 10px;
                color: $gold;
            }

            div.content {
                margin: 20px auto 20px;

                div.col2 {
                    margin-bottom: 60px;

                    -webkit-column-count: 2; /* Chrome, Safari, Opera */
                    -moz-column-count: 2; /* Firefox */
                    column-count: 2;

                    -webkit-column-gap: 110px; /* Chrome, Safari, Opera */
                    -moz-column-gap: 110px; /* Firefox */
                    column-gap: 110px;

                    -webkit-column-span: all; /* Chrome, Safari, Opera */
                    column-span: all;
                }

                div.col_fixed {
                    display: table;
                    width: 100%;

                    div.col {
                        display: inline-block;
                        width: 46%;
                        vertical-align: top;

                        &:nth-of-type(2n) {
                            padding-left: 3%;
                        }

                        &:nth-of-type(2n+1) {
                            padding-right: 3%;
                        }
                    }
                }

                p {
                    font-family: $avenir-med;
                    letter-spacing: 0.1em;
                    line-height: 1.5em;
                    margin: 0 0 30px;

                }

                ul, ol {
                    margin-bottom: 30px;
                    padding-left: 30px;

                    li {
                        font-family: $avenir-med;
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        margin: 0 0 15px;
                        padding-left: 5px;
                    }
                }
            }
        }

        article.content-page,
        article.post {

            div.content,
            div.entry-content {

                h2, h3 {
                    font-family: $avenir-blk;
                    letter-spacing: 0.1em;
                    line-height: 1.5em;
                    font-size: 1.2em;
                    margin: 30px 0 10px;
                }

                h4 {
                    font-family: $avenir-blk;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                    line-height: 1.5em;
                    font-size: 0.8em;
                    margin: 25px 0 10px;
                }



                p {

                    a {
                        color: $gold-dark;

                        &:hover {
                            color: $gold;
                        }
                    }

                    em {
                        font-family: $avenir-med-i;
                    }

                }

                hr {
                    margin: 20px 0 10px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 0.5px solid $gold_dark;
                }

                blockquote {

                    p {
                        color: $gold-dark;
                        font-family: $dido-i;
                        max-width: 600px;
                        margin: 0 auto 30px;

                    }
                }
            }

        }

        & > article {
            blockquote {
                margin: 40px 30px;
                text-align: center;

                &::before,
                &::after {
                    height: 1px;
                    width: 80px;
                    content: " ";
                    margin: 0 auto;
                    display: block;
                    background-color: $gold_dark;
                }

                &::before {
                    margin-bottom: 18px;
                }

                &::after {
                    margin-top: 18px;
                }

                p {
                    color: $gold-dark;
                    font-family: $dido-i;
                    font-size: 1.3em;
                    line-height: 1.6em;
                    letter-spacing: 0.1em;

                }
            }
        }
    }
}

.page-template-default {
    #content {
        //margin-top: 120px;
        display: block;
        padding: 0;
    }
}

div.video {
    width: 100%;
    overflow: auto;
    display: block;

    section.player {
        max-width: 100% !important;

        div {
            width: 100% !important;

            span {
                width: 100% !important;

                iframe {
                    width: 100% !important;
                }
            }
        }
    }
}

section.player {
    width: 100%;
    background-color: #000;

    div.container {
        height: 0;
        padding-bottom: 56.2%;
        width: 100%;
        margin: 0 auto;
        position: relative;

        iframe {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute
        }
    }
}

h1, h2, h3, h4 {
    font-family: $dido-head;
}

h5, h6 {
    font-family: $dido-bold;
}

p {
    font-family: $avenir;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    color: $black;
}

a.button {
    border: 1px solid $gold;
    text-align: center;
    padding: 10px 15px 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0 5px 20px;

    &:hover {
        background-color: darken($gold, 5);

    }

}

@media only screen and (max-width: 767px) {

    #content {

        div.platter {
            padding: 40px 4%;
        }
    }
}