a.elementor-button {
    background-color: $blue;
    font-family: $dido-head;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.avenir {
    font-family: $avenir;
}

.avenir-i {
    font-family: $avenir-i;
}

.avenir-med {
    font-family: $avenir-med;
}

.avenir-med-i {
    font-family: $avenir-med-i;
}

.avenir-blk {
    font-family: $avenir-blk;
}

.avenir-blk-i {
    font-family: $avenir-blk-i;
}

.dido {
    font-family: $dido;
}

.dido-i {
    font-family: $dido-i;
}

.dido-orn {
    font-family: $dido-orn;
}

.dido-bold {
    font-family: $dido-bold;
}

.dido-bold-i {
    font-family: $dido-bold-i;
}

.dido-head {
    font-family: $dido-head;
}


