body > header {
    width: 100%;
    z-index: 1000;
    color: $white;
    font-family: $avenir-blk;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: $gray;

    #language {
        display: none;
    }

    div {
        margin: 0 auto;
        text-align: center;

        & > ul {

            & > li {
                display: inline-block;
                //position: relative;

                a {
                    line-height: 55px;
                    padding: 0 15px;
                    display: block;

                }

                &:hover {

                    &.menu-item-type-post_type ul {
                        display: block;
                    }
                }

                &.menu-item-type-post_type ul {
                    display: none;
                    position: absolute;
                    background-color: lighten($gray, 70);
                    left: 0;
                    text-align: center;
                    right: 0;
                    -webkit-transition: 0.3s ease-in-out;
                    -o-transition: 0.3s ease-in-out;
                    -moz-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                    padding-top: 40px;
                    padding-bottom: 30px;

                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 20px;
                        vertical-align: top;

                        div.icon {
                            display: block;
                            width: 50px;
                            height: 50px;
                            background-color: red;
                        }

                        a {
                            line-height: 1.3em;
                            font-family: $avenir-med;
                            font-size: 0.8em;
                            color: $black;
                            display: block;
                            width: 120px;
                            overflow: hidden;
                            vertical-align: top;

                            &::before {
                                display: block;
                                content: '';
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                height: 100px;
                                margin-bottom: 10px;
                            }

                            &:hover {
                                &::before {
                                    opacity: 0.8;
                                }
                            }

                        }

                        &.current-menu-item {
                            a {
                                color: $gold_dark;
                            }
                        }

                        &.icon-intercessor a::before {
                            background-image: url('images/icon_intercessor.png');

                        }

                        &.icon-outreach a::before {
                            background-image: url('images/icon_outreach.png');
                        }

                        &.icon-church a::before {
                            background-image: url('images/icon_church.png');
                        }

                        &.icon-church_planting a::before {
                            background-image: url('images/icon_church_planting.png');
                        }

                        &.icon-business a::before {
                            background-image: url('images/icon_business.png');
                        }
                    }
                }

                &:last-of-type {
                    background-color: $gold;
                    position: absolute;
                    right: 0;

                    a {
                        padding: 0 35px;

                        &:hover {
                            color: $gray;
                        }
                    }
                }

                &.pll-parent-menu-item {
                    position: absolute;
                    left: 0;

                    a {
                        padding: 0 15px;
                        color: lighten($gray, 40);

                        &:hover {
                            color: $gold;
                        }
                    }

                    & > a {
                        //display: none;
                    }

                    ul {
                        display: none;
                        top: 0;
                        width: 100%;
                        background-color: $black;
                        position: fixed;
                        text-align: left;
                        left: 0;
                        right: 0;

                        li {
                            display: inline-block;
                            position: relative;

                            &.current-lang {
                                float: left;
                            }
                        }
                    }

                    &:hover {

                        ul {
                            height: auto;
                            display: block;
                        }

                        & > a {
                            display: none;
                        }
                    }
                }
            }

            li {

                &.current-menu-item,
                &.current-page-ancestor,
                &.current-menu-ancestor,
                &.current_page_parent {
                    & > a {
                        color: $gold_light;

                    }

                    &:last-of-type {
                        a {
                            color: $white;
                        }
                    }
                }

                a {
                    color: $white;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 100ms ease;
                    cursor: pointer;
                    font-size: 0.9em;

                    &:hover {
                        color: $gold;
                    }
                }

            }

        }
    }

    #burger {
        display: none;
        width: 30px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('images/burger.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 12px 10px 0 0;
        z-index: 1000;

        &.open {
            background-image: url('images/burger_close.png');
        }

        a:hover {
            background-color: transparent;
        }
    }

    @media only screen and (max-width: 1300px) {

        div {
            // text-align: left;
        }
    }

    @media only screen and (max-width: 1064px) {

        #language {
            display: block;
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 100;

            a {
                display: none;
                color: $white;
                line-height: 48px;
                text-decoration: none;
                letter-spacing: 0.15em;
            }

            select {
                display: block;
                font-size: 1em;
                background: transparent;
                font-family: $avenir-blk;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: $white;
                border: 0;
                padding: 0;
                line-height: 48px;
                border-radius: 0;
                -webkit-appearance: none;
                cursor: pointer;
                padding-right: 48px;

                background-image: url('images/dropdown.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right center;

                option {
                    font-family: $avenir-blk;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                }
            }
        }

        div {
            text-align: left;
        }

        #simple_logo {
            top: 20px;
            left: 4%;
            width: 80px;
            height: 30px;
        }

        #burger {
            right: 2%;
            top: 0;
            display: block;
            z-index: 100;
        }

        div {
            position: relative;
            z-index: 0;

            & > ul {
                background-color: $gray;
                padding: 48px 3% 0;
                overflow: hidden;
                display: block;
                transition: all 200ms ease;
                text-align: left;
                z-index:10;
                //position: absolute;
                height: 0;
                top: 0;
                left: 0;
                right: 0;


                li a {
                    font-size: 1.4em;
                    line-height: 48px;
                }

                & > li:last-of-type {
                    margin-bottom: 68px;
                }

                & > li {
                    width: 25%;
                    margin: 5px auto;
                    display: block;
                    text-align: center;

                    &:last-of-type {
                        position: relative;
                        background-color: $gray;

                        a {
                            &:hover {
                                color: $gold;
                            }
                        }
                    }

                    &.pll-parent-menu-item {
                        display: none;
                        position: relative;
                        width: 100%;
                    }

                    &.menu-item-type-post_type ul {
                        display: block;
                        position: relative;
                        padding: 0;
                        background: none;
                        margin: 0 auto 20px;

                        li {
                            text-align: center;
                            margin: 5px auto;
                            display: block;

                            &.current_page_item,
                            &.current-menu-item {
                                a {
                                    color: $gold-light;
                                }
                            }

                            a {
                                color: $white;
                                width: auto;
                                line-height: 28px;

                                &:hover {
                                    color: $gold;
                                }

                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }

                }

                &.show {
                    //display: block;
                    bottom: 0;
                    height: 100vh;
                    overflow: scroll;
                    padding-bottom: 48px;
                    position: absolute;

                    & > li {

                        &.pll-parent-menu-item {
                            display: none;
                        }
                    }

                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        div {

            & > ul {
                & > li {
                    width: 33%;
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {
        div {

            & > ul {
                & > li {
                    width: 50%;
                }
            }
        }
    }

    @media only screen and (max-width: 550px) {
        div {

            & > ul {
                & > li {
                    width: 100%;
                }
            }
        }
    }
}
